image: golang:latest

stages:
  - build
  - deploy

variables:
  CUE_VERSION: "0.15.4"

build:
  stage: build
  before_script:
    - curl -sSL https://github.com/cue-lang/cue/releases/download/v${CUE_VERSION}/cue_v${CUE_VERSION}_linux_amd64.tar.gz | tar xz
    - mv cue /usr/local/bin/
  script:
    - cue vet ./...
    - mkdir -p site/data
    - cue export -e graph ./... > site/data/graph.json
    - cue export -e analysis ./... > site/data/analysis.json
    - cue export -e insights ./... > site/data/insights.json
    - cue export -e report ./... > site/data/report.json
    - cue export -e entities ./... > site/data/entities.json
    - cue export -e flows ./... > site/data/flows.json
    - cue export -e documents ./... > site/data/documents.json
  artifacts:
    paths:
      - site/

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mv site public
  artifacts:
    paths:
      - public
  only:
    - main

surge:
  stage: deploy
  dependencies:
    - build
  before_script:
    - npm install -g surge
  script:
    - surge site/ unify-missing-links.surge.sh
  only:
    - main
  when: manual
  allow_failure: true
